body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #264653;
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: 2px 9px 10px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 9px 10px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 9px 10px 12px rgba(0, 0, 0, 0.04);
    width: 400px;
    background-color: #2a9d8f;
    border-radius: 4px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 6px 6px 0 0;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    padding: 0;
    margin: 0;
}

.list li {
    list-style-type: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: dotted;
    position: relative;
}

.list li .fa-trash {
    color: #e9c46a;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-square-check {
    color: #f4a261;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: lightgrey;
    text-decoration: line-through;
}

.list li.checked .fa-square-check {
    color: #264653;
}